.user-containter {
  padding: 20px;
}

.user-containter .loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.user-containter .error {
  background-color: #ff000070;
  color: red;
}

.user-containter img {
  width: 250px;
}

.user-containter h5,
.user-containter .card {
  margin-top: 20px;
}

.user-containter .card-title {
  padding-left: 1.25rem;
  padding-top: 0.6rem;
}

.user-containter .card-link {
  padding-left: 1.25rem;
  padding-bottom: 0.6rem;
}
